<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<title>Shower Presentation Template</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=1274, user-scalable=no">
	<link rel="stylesheet" href="themes/ribbon/styles/style.css">
	<link rel="stylesheet" href="themes/ribbon/styles/print.css" media="print">
	<!--
		To apply styles to the certain slides
		use slide ID to get needed elements
		-->
	<style>
		#Cover h2 {
			color:#FFF;
			text-align:center;
			font-size:70px;
			}
		#FitToWidth h2,
		#FitToHeight h2 {
			color:#FFF;
			text-align:center;
			}
	</style>
</head>
<body class="list">
	<header class="caption">
		<h1>${title}</h1>
		<p>${author}, ${company}</p>
	</header>
	<div class="slide cover" id="Cover"><div>
		<section>
			<header>
				<h2>${title}</h2>
			</header>
		</section>
	</div></div>	
	<% def index = 1 %>
    <% slides.each { slide -> %>
    <% def slideContent = slide.select("div")?.first()?.html() %>
    <% def slideTitle = slide.select("header")?.first()?.text() %>   
    <div class="slide" id="${index++}"><div>
        <section>
			<header>
				<h2>${slideTitle}</h2>
			</header>    
            <%= slideContent %>
		</section>
	</div></div>
    <% } %>
		
	<!--
		To hide progress bar from entire presentation
		just remove “progress” element.
		-->
	<div class="progress"><div></div></div>
	<script src="scripts/script.js"></script>
	<!-- Copyright © 2010–2012 Vadim Makeev — pepelsbey.net -->
	<!-- Photos by John Carey — fiftyfootshadows.net -->
</body>
</html>